header{
    text-align: center;
    height: 122px;
    border-style:inset; 
    background-color: goldenrod;  
    
}    
 
nav{
    background-color: rgb(28, 17, 53);
   border-style: outset;
    height: 55px;  
}

section{
    float: left;
    width:72.5%;
    border-style:none;  
    height:auto; 
    text-align: justify;    
}

aside{
    float:right;
    width: 26%;
    background-color:rgb(219, 211, 236);
    border-style: outset;
    height:auto ;
}
footer{
    color: white;
    background-color: rgb(28, 17, 53);
}
.contenedor::after{
   content:"";
    display: block;
    clear: both;
}
/*menu*/
.menu li{
    display:inline-block ;
    background-color: rgb(200, 185, 230);    
    
}
li a, boton{
    display: block;
    color:black ;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em; 
    border-style:double; 
}

.Listadesplegable{
display: none;
background-color:rgb(219, 211, 236);
width: auto;
position: absolute;

}
.Listadesplegable a{
    color:black;
    display: block;
    text-align:center;
    border-style:double;   
}
.boton:hover .Listadesplegable{
display: block;
}
li a:hover{
     background-color: rgb(181, 161, 228);    
}
img{
    display: block;
    margin: auto;
}
.encabezado1 img{
    display:inline-block;
    height: 100px;
    vertical-align:middle;
}
iframe{
    display: block;
    margin: auto;
}
.imgAutor img{
    display:inline-block;
   
    vertical-align:middle;
}
footer{
    text-align: center;
}